<!DOCTYPE html>
<html>
<head>
    <title>Gestión Gym</title>
</head>
<body>

<nav>
    <a href="{{ path('index') }}">Home</a>
    <a href="{{ path('socio_index') }}">Socios</a> |
    <a href="{{ path('entrenador_index') }}">Entrenadores</a> |
    <a href="{{ path('clase_index') }}">Clases</a> |
    <a href="{{ path('inscripcion_index') }}">Inscripciones</a>
</nav>

{% for message in app.flashes('success') %}
    <p style="color:green;">{{ message }}</p>
{% endfor %}

<hr>

{% block body %}{% endblock %}

</body>
</html>
